<!DOCTYPE html>
<html lang="en">
    <head><% include ../partials/head %></head>
<body class="container">
	<header>
		<% include ../partials/header %>
	</header>

	<main>
           <% for(var i=0; i<posts.length; i++) { %>
           <% var link = "/blog/" + posts[i].id; %>
           <% var img = posts[i].title_img; %>
           <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                        <a href="<%= link %>"><%= posts[i].title %><img class="card-img-top" src="<%= img %>" sizes="(max-width: 339px) 100vw, 339px" onerror="this.src='http://placehold.it/400x300'"></a>
                        <div class="card-body">
                          <h4 class="card-title">
                            <a href="<%= link %>"><%= posts[i].title %><%= posts[i].summary %></a>
                          </h4>
                          </div>

                </div>
            </div>
            <!-- <div class="jumbotron">
                <h1><a href="<%= link %>"><%= posts[i].title %></a></h1>
                <p><%= posts[i].summary %></p>
            </div> -->
        <% } %>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>