<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body role="document" >
	<% include ../partials/header %>
	<main>
		<div class="container">
			<div class="row">
				<!-- Post Content Column -->
				
				<% var img = post.title_img; if(img === "") { img = "http://placehold.it/700x520"} %>
				<img class="card-img-top" src="<%= img %>"/>
				<% var date = new Date(post.created); %>
				<p style="float: right"><%= dateformat(date, "d. mmmm yyyy"); %></p>
				<h1><%= post.title %></h1>					
				<hr>
				<div class="well" >
					<h3><%= post.summary %></h3>
				</div>
				<div><%- markdown.toHTML(post.content) %></div>
				<!-- <div><%= post.content %></div> -->
				
			</div>
		</div>
	</main>
	
	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>